In [1]:
import pandas as pd;
import numpy as np

In [2]:
df=pd.DataFrame(
    [
        [1,np.nan,2],
        [2,3,4],
        [np.nan,4,6]
    ]
)

In [3]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

In [4]:
df.dropna();

In [7]:
df.dropna(axis='rows',thresh=2)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  NaN  4.0  6

In [8]:
df.dropna(axis='rows',thresh=3)

     0    1  2
1  2.0  3.0  4

In [10]:
df.dropna(axis='columns',thresh=3)

   2
0  2
1  4
2  6

In [11]:
df.fillna(0)

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  4
2  0.0  4.0  6

In [14]:
df.fillna(method='ffill')  #upoer thi niche values ave

C:\Users\Student\AppData\Local\Temp\ipykernel_12784\725390615.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')  #upoer thi niche values ave

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  4
2  2.0  4.0  6

In [15]:
df.fillna(method='bfill')

C:\Users\Student\AppData\Local\Temp\ipykernel_12784\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  4
2  NaN  4.0  6

In [17]:
df.fillna(axis=1,method='ffill')  #left to right

C:\Users\Student\AppData\Local\Temp\ipykernel_12784\3101686899.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(axis=1,method='ffill')  #left to right

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  4.0
2  NaN  4.0  6.0